* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

form {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}