main {
    text-align: center;
}

.completed {
    text-decoration: line-through;
    pointer-events: none;
    cursor: default;
}

a {
    display: block;
    margin-top: 50px;
}

section {
    border: 4px double white;
    border-radius: 10px;
    margin: 20px;
    display: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    width: 70%;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}




input[type="radio"] {
    opacity: 0;
}

span {
    width: 300px;
    padding: 5px;
}

.dialog-span {
    text-align: left;
}

.title-span {
    font-weight: bold;
    text-align: right;
}

input:checked + .dialog-span {
    border-radius: 20px;
    background-color: white;
}

img {
    margin-top: 10px;
}